
// global colors
$blacklight: #3B3B3B;
$white: #FFFFFF;
$greydark: #CCCCCC;

// style 1 colors
$orangelight: #F79C4D;
$orange: #F27C16;
$greylight: #EDEDED;
$grey: #D4D4D4;

// style 2 colors
$bluelight: #00B3FF;
$blue: #009ADB;
$greybluelight: #F0FAFF;
$greyblue: #CDECFA;
